{% extends 'base.html.twig' %}

{% block title %} Les saisons de {{ program.title }}{% endblock %}

{% block body %}
    <div class="media">
        <img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
        <div class="media-body">
            <h1 class="mt-0">{{ program.title }}</h1>
            <p>{{ program.summary }}</p>
            <p>Catégorie : {{ program.category.name }}</p>
            <h2>{{ season.description }}</h2>
                <ul>
                    <br>{{ episode.number }} / {{ episode.title }} </br> <li> {{ episode.synopsis }}</li>
                </ul>
        </div>
    </div>

    <table>
        <tr>
            <th>Commentaire</th>
            <th></th>
            <th>Rate</th>
            <th>User</th>
        </tr>
        {% for onecomment in comments|reverse %}
            <tr>
                <th>{{ onecomment.comment }}</th>
                <th></th>
                <th>{{ onecomment.rate }}</th>
                <th>{{ onecomment.author.email}}</th>
                <th>
                    {% if (is_granted('ROLE_ADMIN') or ((is_granted('ROLE_CONTRIBUTOR')) and (app.user.email == onecomment.author.email))) %}
                        <a href="{{ path('comment_edit', {"comment_id": onecomment.id}) }}">edit</a>
                    {% endif %}
                </th>
            </tr>
        {% endfor %}
    </table>

    {% if app.user %}
        <a href="{{ path("comment_new", {"episodeSlug": episode.slug }) }}">Ajouter un commentaire</a>
    {% endif %}



{% endblock %}
