{% extends 'base.html.twig' %}
{% block title %}Acteur {{ actor.name }}{% endblock %}
{% block body %}
    <h2>{{ actor.name }}</h2>

        <ul>
            {% for program in actor.programs %}
                <li>
                    <a href="{{ path("program_show", { slug : program.slug }) }}">{{ program.title }}</a>
                </li>
            {% endfor %}
        </ul>

    <a href="{{ path('actor_index') }}">
        Retour à la liste des acteurs
    </a>

{% endblock %}
